body {
  font-family: Arial, sans-serif;
  background-color: #1f1b1b;
  color: #ffffff;
  padding: 30px;
}

p {
  font-style: oblique;
  size: 30;
}

a {
  color: #ffffff;
}

.highlight {
  font-weight: bold;
  color: red;
}

.container {
  border: 5px solid #ffffff;
  padding: 0px 20px;
  margin: 20px 0px;
  width: 30%;
  border-radius: 1em;
}

.container-item {
  border: 5px solid #ffffff;
  padding: 0px 20px;
  margin: 20px 0px;
  border-radius: 1em;
}

.moon {
  top: 0;
  right: 0;
  position: absolute;
  transform: translate(40%, -40%);
  opacity: 0.6;
  overflow: hidden;
}

#selectorList {
  font-style: italic;
}

#attributeList {
  font-style: italic;
}
